{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signin</title>
    <link rel="stylesheet" href="{% static 'css/signin.css' %}">
</head>
<body>

    
    
    <form action="dashboard" method="post">
        {% csrf_token %}
        <h4>Email:</h4>
        <input type="email" placeholder="Enter your Email"  name="email">
        <h4>Password:</h4>
        <input type="pass" placeholder="Enter your Password" name="Password">
        <input type="submit" value="Signin" />
    </form>
        <button id="forgotpassword">Forget Password</button>
    <script src="{% static 'js/signin.js' %}"></script>
</body>
</html>